.connectBtn {
    font-size: 1.1rem;
    height: 50px;
    width: 180px;
    border-radius: 20px;
    background-color: transparent;
    border-color:white;
    border-style:groove;
    color: white;
    transition: all 0.3s;
    letter-spacing: 2px;
}
.connectBtn:hover {
    cursor: pointer;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
    transform: scale3d(1.1, 1.1, 1);
}
.accountAddress {
    color: rgb(255, 115, 0);
    letter-spacing: 2px;
    font-size: 1.1rem;
}